<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="/file-transfer-api/favicon.ico"
      type="image/x-icon"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download | InShare - File Sharing Made Easy</title>
    <link rel="stylesheet" href="/file-transfer-api/css/style.css" />
  </head>

  <body>
    <img
      src="/file-transfer-api/img/logo.png"
      alt="Inshare logo"
      class="logo"
    />

    <section class="download">
      <img
        class="download__icon"
        src="/file-transfer-api/img/download-sd.svg"
        alt="inshare-download"
      />
      <% if(locals.error){ %>
      <h4><%= locals.error %> 😏</h4>
      <% } else { %>
      <h2>Your file is ready to download</h2>
      <p>Link expires in 24 hours</p>
      <div class="download__meta">
        <h4><%= fileName %></h4>
        <small><%= parseInt(fileSize/1000) %> KB</small>
      </div>
      <div class="send-btn-container">
        <a href="<%= downloadLink %>">Download file</a>
      </div>
      <% } %>
    </section>
  </body>
</html>
